.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.mt20{
    margin-top: 20px;
}
.mt12{
    margin-top: 12px;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb30{
    margin-bottom: 30px;
}
.mb25{
    margin-bottom: 25px;
}
.mb20{
    margin-bottom: 20px;
}
.m0{
    margin: 0 !important;
}
.text-bold{
    font-weight: bold;
}
h5{
    text-transform: uppercase;
    font-weight: normal;
}
/* user */
.table .imageUser{
    height: 73px;
    display: block;
}
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}
table strong{
    min-width: 88px;
    display: inline-block;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    vertical-align: middle;
}
/* tìm kiếm user */
.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-middle{
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items: center;
}
.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom: 20px;
}
.filter-wrapper .perpage{
    display: inline-block;
}

.mr10{
    margin-right: 10px;
}
.btn{
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}
.filter-wrapper .form-control{
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}
.mr5{
    margin-right: 5px;
}
.ml10{
    margin-left: 10px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* CSS CHO CREATE USER */
.control-label{
    display: block;
}
.panel-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.panel-desciption{
    font-size: 15px;
}
/* CSS CHO CHECKBOX USER.INDEX */
#checkAll, .checkBoxItem{
    width: 15px;
    height: 15px;
}
.active-bg{
    background: #ffc !important;
}
/* CSS CHO SWITCHCHERY */
.switchery-small{
    border-radius: 20px;
    height: 20px;
    width: 30px;
}
.switchery-small>small{
    height: 20px;
    width: 20px;
}
/* CSS cho select2 */
.select2-container--default{
    margin-right: 10px;
}
/* CSS CHO SEO POST-CATALOGUE */
.meta-title{
    font-size: 20px;
    color: #1a0dab;
}
.canonical{
    color: green;
    margin-bottom: 8px;
}
.meta-description{
    font-size: 14px;
}
.seo-wrapper{
    margin-top: 30px;
}
.seo-wrapper textarea{
    height: 200px;
}
.notice{
    font-size: 11px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}
/* CSS CHO CHỌN ẢNH TRONG ASIDE CỦA POST/CATALOGUE */
.image-target{
    cursor: pointer;
}
/* CSS CHO đường dẫn mặc định (SE0) trong post/catalogue */
.input-wrapper input:focus{
    border-color: #e5e6e7;
}
.input-wrapper{
    position: relative;
}
.input-wrapper .baseUrl{
    position: absolute;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    padding: 0 10px;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-color: #e5e6e7 !important;
    border: 1px solid;
    border-right: 0;
    font-size: 14px;
}
.seo-canonical{
    color: #1a0dab;
    font-weight: 600;
}
/* css cho button của post/catalogue */
.button-fix{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}
/* CSS CHO ALBUM */
.clearfix:before{
    content: "";
    display: table-cell;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
#sortable,
#sortable2{
    list-style: none;
    padding-left: 0;
}
.sortui .ui-state-default{
    width: calc(20% - 2px);
    float: left;
    padding-left: 10px;
    margin: 0 0 10px 0;
    margin-bottom: 10px;
    cursor: move;
    background: transparent;
    box-shadow: none;
    border: 0;
}
.sortui .ui-state-default .thumb{
    border: 1px solid #ddd;
    height: 200px;
}
.img-scaledown{
    display: block;
    width: 100%;
    height: 100%;
}
.img-scaledown img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.click-to-upload{
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}
#sortable .thumb,
#sortable2 .thumb{
    position: relative;
}
#sortable .delete-image,
#sortable2 .variant-delete-image{
    position: absolute;
    background: linear-gradient(to bottom,#fff, #f9fafb);
    color: red;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: rgb(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
}
#sortable .delete-image:hover,
#sortable2 .variant-delete-image:hover{
    background: red;
    color: #fff;
}
.hidden{
    display:none;
}
/* CSS CHO TABLE POST */
.image-post{
    width: 75px;
    height: 45px;
}
.maintitle, a{
    color: #2962ff;
}
.maintitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.catalogue{
    font-size: 10px;
}
.catalogue span{
    font-weight: 600;
}
.catalogue a{
    color: #333;
    margin-right: 10px;
}
/* CSS CHO LANGUAGE-ITEM DASHBOARD/HEAD */
.language-item{
    height: 60px;
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
}
.language-item.active{
    background: #2962ff;
}
/* CSS CHO LANGUAGE-FLAG DASHBOARD/TABLE */
.language-flag{
    width: 50px;
    height: 16px !important;
    display: inline-block !important;
}
/* CSS CHO SCHEMA GENERATE/STORE */
.schema{
    height: 350px !important;
}
/* CSS CHO Product_price product/aside*/
.int{
    text-align: right;
}
/* CSS CHO Product_many versions product/store*/
.ibox-title h5{
    float: none;
}
.variant-box .description{
    font-size: 10px;
}
/* CSS CHO Product_many versions product/variant */
.variant-checkbox input{
    margin-top: 0;
    width: 16px;
    height: 16px;
}
.variant-checkbox label{
    margin-bottom: 0;
    margin-left: 10px;
    font-weight: normal;
    cursor: pointer;
}
.variant-container{
    margin-top: 30px;
}
.attribute-title{
    font-size: 12px;
    color: #1791f2;
}
.variant-body{
    margin-top: 10px;
}
.fake-variant, .variant-body button{
    height: 42px;
    border-radius: 5px;
}
.remove-attribute{
    font-size: 20px;
}

.setupNiceSelect, .list{
    width: 100% !important;
}
.mt10{
    margin-top: 10px;
}

.add-variant{
    height: 42px;
    color: #1791f2;
    border: 1px dashed #1791f2;
    background: #fafafa;
    text-align: center;
    border-radius: 5px;
    transition: all 0.3s ease;
    padding: 0 40px;
}
.add-variant:hover{
    background: #efefef;
}

/* CSS CHO productVariant product/productVariant */
.variantTable thead{
    background: #333;
    color: #fff;
}
.variantTable tbody td,
.variantTable thead td{
    text-align: right;
    cursor: pointer;
}
.variantTable thead td:first-child,
.variantTable tbody td:first-child{
    text-align: left;
}

.variantTable .variant-row .image-variant img{
    width: 28px;
    height: 28px;
}
/* css cho toolbox product/productVariant */
.updateVariant{
    box-shadow: none !important;
    background: #eaeaea;
}
.click-to-upload-variant{
    text-align: center;
    border: 1px dashed #b8b2b2;
    padding: 20px;
}
.updateVariant label{
    margin-bottom: 0;
    font-weight: 600;
    color: #1a0dab;
    margin-bottom: 5px;
}
/* css cho system/index */
.system-link{
    font-size: 12px;
    font-weight: normal;
    font-style: italic;
}
.system-textarea{
    height: 100px !important;
}
.language-container {
    display: flex; /* Ensure the parent container uses flexbox */
    gap: 10px; /* Add some spacing between the items */
    margin-left: 10px;
    margin-top: 10px;
}
.system-flag{
    width: 35px;
    height: 23px;
    /* margin-right: 10px; */
}
/* css cho menu/component/catalogue (store) */
.menuContainer .select2-container{
    width: 100% !important;
}
/* css cho menu/component/list (store) */
#accordion .panel-title{
    font-size: 13px;
    margin: 0 !important;
}
#accordion .panel-title a{
    display: block;
    text-transform: uppercase;
}
#accordion{
    margin-bottom: 0;
}
.m-item label{
    margin: 0;
    font-weight: bold;
    color: blue;
    margin-left: 5px;
    cursor: pointer;
}
/* css cho menu/component/popup (store) */
.error{
    font-style: italic;
    margin-top: 5px;
    color: red;
}
.success{
    font-style: italic;
    color: green;
}
.none{
    display: none;
}
.uppercase{
    text-transform: uppercase;
}
/* CSS cho menu/show */
.create-children-menu{
    position: absolute;
    top: 11px;
    right: 11px;
    z-index: 100;
}
.dd-handle{
    position: relative;
}
#nestable2 .dd-item > button {
    z-index: 9999;
}
/* CSS cho menu/translate */
.menu-name{
    min-width: 90px;
}
.menu-translate-item .form-row:not(:last-child){
    margin-bottom: 10px;
}
/* CSS cho slide/store */
.setting-item{
    margin-bottom: 15px;
}
.setting-item .setting-text{
    min-width: 120px;
}
.setting-item .setting-value{
    position: relative;
    width: 100%;
}
.setting-item .setting-value .form-control{
    padding-right: 25px;
}
.setting-item .setting-value .px{
    position: absolute;
    right: 6px;
    top: 6px;
    font-size: 11px;
    color: blue;
}
.setting-item .setting-value input[type=checkbox]{
    width: 17px;
    height: 17px;
    cursor: pointer;
}
.setting-item .setting-value input[type=radio]{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.setting-item .setting-value label{
    font-weight: normal;
    margin: 0;
    margin-left: 10px;
    cursor: pointer;
}
.nav-setting-item{
    margin-bottom: 10px;
}
.ibox .ibox-title h5{
    margin-bottom: 0;
}
.ibox-title{
    padding: 7px;
}
.custom-row [class*="col-"]{
    padding-left: 5px;
    padding-right: 5px;
}
.tab-content .panel-body{
    padding: 10px;
}
input[type=checkbox]{
    margin: 0;
}
.form-row .overlay label{
    font-weight: normal;
    margin: 0 10px 0 0;
}
.form-row .overlay input[type="checkbox"]{
    width: 16px;
    height: 16px;

}
.form-row-canonical{
    padding-right: 160px;
    position: relative;
}
.form-row .overlay{
    position: absolute;
    top: 7px;
    right: 0;
}
.slide-image img{
    height: 178px;
    position: relative;
}
.delete-slide{
    position: absolute;
    right: 10px;
    top: 10px;
}
.slide-seo-tab{
    padding-right: 0 !important;
}
.addSlide{
    border: 1px solid #ccc;
}
.addSlide:hover{
    background: 1px solid #eaeaea;
}
.slide-list .ui-state-default{
    width: 100% !important;
    font-weight: normal;

}