.error-message{
    color: red;
    font-size: 12px;
    margin-top: 5px;
}
.mt20{
    margin-top: 20px;
}
.mb15{
    margin-bottom: 15px;
}
.mb10{
    margin-bottom: 10px;
}
.mb30{
    margin-bottom: 30px;
}
.mb25{
    margin-bottom: 25px;
}
h5{
    text-transform: uppercase;
    font-weight: normal;
}
/* user */
.table .imageUser{
    height: 73px;
    display: block;
}
.img-cover img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
}
table strong{
    min-width: 88px;
    display: inline-block;
}
.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td{
    vertical-align: middle;
}
/* tìm kiếm user */
.uk-flex-space-between{
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.uk-flex-middle{
    -ms-flex-align:center;
    -webkit-align-items:center;
    align-items: center;
}
.uk-flex{
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.filter-wrapper{
    margin-bottom: 20px;
}
.filter-wrapper .perpage{
    display: inline-block;
}

.mr10{
    margin-right: 10px;
}
.btn{
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}
.filter-wrapper .form-control{
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}
.mr5{
    margin-right: 5px;
}
.ml10{
    margin-left: 10px;
}
.box .ibox{
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

/* CSS CHO CREATE USER */
.control-label{
    display: block;
}
.panel-title{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    color: #1a1a1a;
}
.panel-desciption{
    font-size: 15px;
}
/* CSS CHO CHECKBOX USER.INDEX */
#checkAll, .checkBoxItem{
    width: 15px;
    height: 15px;
}
.active-bg{
    background: #ffc !important;
}
/* CSS CHO SWITCHCHERY */
.switchery-small{
    border-radius: 20px;
    height: 20px;
    width: 30px;
}
.switchery-small>small{
    height: 20px;
    width: 20px;
}
/* CSS cho select2 */
.select2-container--default{
    margin-right: 10px;
}
/* CSS CHO SEO POST-CATALOGUE */
.meta-title{
    font-size: 20px;
    color: #1a0dab;
}
.canonical{
    color: green;
    margin-bottom: 8px;
}
.meta-description{
    font-size: 14px;
}
.seo-wrapper{
    margin-top: 30px;
}
.seo-wrapper textarea{
    height: 200px;
}
.notice{
    font-size: 11px;
    font-style: italic;
    display: block;
    margin-bottom: 10px;
}
/* CSS CHO CHỌN ẢNH TRONG ASIDE CỦA POST/CATALOGUE */
.image-target{
    cursor: pointer;
}
/* CSS CHO đường dẫn mặc định (SE0) trong post/catalogue */
.input-wrapper input:focus{
    border-color: #e5e6e7;
}
.input-wrapper{
    position: relative;
}
.input-wrapper .baseUrl{
    position: absolute;
    height: 34px;
    line-height: 34px;
    display: inline-block;
    padding: 0 10px;
    left: 0;
    top: 0;
    background-color: #ffffff;
    border-color: #e5e6e7 !important;
    border: 1px solid;
    border-right: 0;
    font-size: 14px;
}
input[name=canonical]{
    color: #1a0dab;
    font-weight: 600;
}
/* css cho button của post/catalogue */
.button-fix{
    position: fixed !important;
    bottom: 30px;
    right: 30px;
}
/* CSS CHO ALBUM */
.clearfix:before{
    content: "";
    display: table-cell;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}
#sortable{
    list-style: none;
    padding-left: 0;
}
.sortui .ui-state-default{
    width: calc(20% - 2px);
    float: left;
    padding-left: 10px;
    margin: 0 0 10px 0;
    margin-bottom: 10px;
    cursor: move;
    background: transparent;
    box-shadow: none;
    border: 0;
}
.sortui .ui-state-default .thumb{
    border: 1px solid #ddd;
    height: 200px;
}
.img-scaledown{
    display: block;
    width: 100%;
    height: 100%;
}
.img-scaledown img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.click-to-upload{
    text-align: center;
    padding: 20px;
    border: 1px dashed #b8b2b2;
}
#sortable .thumb{
    position: relative;
}
#sortable .delete-image{
    position: absolute;
    background: linear-gradient(to bottom,#fff, #f9fafb);
    color: red;
    right: 10px;
    top: 10px;
    border: 0;
    box-shadow: rgb(99, 99, 99, 0.2) 0px 2px 8px 0px;
    display: inline-block;
    width: 25px;
    height: 25px;
}
#sortable .delete-image:hover{
    background: red;
    color: #fff;
}
.hidden{
    display:none;
}
/* CSS CHO TABLE POST */
.image-post{
    width: 75px;
    height: 45px;
}
.maintitle, a{
    color: #2962ff;
}
.maintitle{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}
.catalogue{
    font-size: 10px;
}
.catalogue span{
    font-weight: 600;
}
.catalogue a{
    color: #333;
    margin-right: 10px;
}
/* CSS CHO LANGUAGE-ITEM DASHBOARD/HEAD */
.language-item{
    height: 60px;
    /* padding-left: 5px !important;
    padding-right: 5px !important; */
}
.language-item.active{
    background: #2962ff;
}